body {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 4fr;


  margin: 20px;
  font-family: Arial, sans-serif;
}
#designInfo {
  grid-row-start: 1;
}

#canvasContainer {
  /* position: relative; */
  grid-row-start: 3;
  grid-column: 1;
}

#canvas {
  border: 2px solid black;
  margin-top: 20px;
}
#stepsInstructions {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
}

#stepsList {
  margin-left: 20px;
  padding-left: 20px;
  list-style-type: none;
}

#stepsList li {
  margin-bottom: 10px;
}

#stepsList li.current {
  font-weight: bold;
}

#measurementsList {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: 2;
  min-width: 50px;
  min-height: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  background:    #e3c0d9;
  list-style-type: none;
  padding: 10px;
  gap: 5px;
}

#controls {
  grid-row-start: 2;
  grid-column: 1;
  margin: 10px 0;
}

input {
  width: 50px;
  background:    #f3e6ef;
}
label {
  font-size: 12px;
  padding: 5px;
}
.button {
  color: white;
  padding: 15px 25px;
  border-radius: 15px;
}